---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongo-data
  namespace: databases
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 10Gi
  hostPath:
    path: /mnt/mongodb
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
  namespace: databases
spec:
  storageClassName: ""
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: databases
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - name: mongodb
        image: mongo:latest
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-creds
              key: username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-creds
              key: password
        - name: MONGO_INITDB_DATABASE
          value: "test"
        volumeMounts:
        - name: "mongo-data-dir"
          mountPath: "/data/db"
      - name: mongo-express
        image: mongo-express:latest
        ports:
        - containerPort: 8081
        env:
        - name: ME_CONFIG_MONGODB_ADMINUSERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-creds
              key: username
        - name: ME_CONFIG_MONGODB_ADMINPASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-creds
              key: password
        - name: ME_CONFIG_MONGODB_SERVER
          value: "localhost"
        - name: ME_CONFIG_BASICAUTH
          value: "false"
      volumes:
      - name: "mongo-data-dir"
        persistentVolumeClaim:
          claimName: "mongo-pvc"
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: mongo
  name: mongo-nodeport-svc
  namespace: databases
spec:
  ports:
  - name: mongo
    port: 27017
    protocol: TCP
    targetPort: 27017
    nodePort: 32000
  - name: mongo-express
    port: 8081
    protocol: TCP
    targetPort: 8081
    nodePort: 32081
  selector:
    app: mongo
  type: LoadBalancer
status:
  loadBalancer: {}
